.publication {
    display: block;
    margin: 20px 0;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: white;

    & .caption {
        margin-bottom: 10px;

        & a {
            font-weight: bold;
            text-decoration: none;
            color: black;
        }

        & img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50%;
        }
    }

    & img {
        width: 100%;
    }

    & .message {
        padding: 10px;
        margin-bottom: 0;
    }

    & .options {
        margin-bottom: 10px;

        & button {
            outline: none;
            background: transparent;
            border: none;
            color: #b1b1b1;
            font-size: 25px;

            & .fas {
                color: red;
            }
        }

        & .likes {
            display: block;
            margin-top: 5px;
            font-weight: bold;
            font-size: 14px;
            margin-left: 5px;
        }
    }

    & .comments {
        margin-top: 20px;
        padding: 0 10px;

        & .comment {
            margin: 20px 0;

            & a {
                color: black;
                text-decoration: none;
                font-weight: bold;
                margin-right: 5px;
            }

            & .dropleft {
                float: right;

                & button {
                    outline: none;
                    background: transparent;
                    border: none;
                    color: rgba(0, 0, 0, .5);
                }

                & .dropdown-menu {
                    padding: 0;

                    & .dropdown-item {
                        padding: 10px;
                        font-weight: bold;
                        color: #ff6060;
                        font-size: 14px;
                    }

                    & .dropdown-item:active {
                        background: #f1f1f1;
                    }
                }
            }
        }

        & .publish-comment {
            & textarea {
                outline: 0;
                height: 40px;
                width: 90%;
                border: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            & button {
                outline: none;
                position: relative;
                top: -13px;
                background: transparent;
                color: var(--primary);
                border: none;
                width: 10%;
            }
        }
    }
}